<header id="aa-header">
	<!-- start header top  -->
	<div class="aa-header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="aa-header-top-area">
						<!-- start header top left -->
						<div class="aa-header-top-left">
						</div>
						<!-- / header top left -->
						<div class="aa-header-top-right">
							<ul class="aa-head-top-nav-right">
								<li><a href="/home">My Account</a></li>
								<li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- / header top  -->
	<!-- start header bottom  -->
	<div class="aa-header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="aa-header-bottom-area">
						<!-- logo  -->
						<div class="aa-logo">
							<!-- Text based logo -->
							<a href="/index">
								<span class="fa fa-shopping-cart"></span>
								<p>daily<strong>Shop</strong> <span>Your Shopping Partner</span></p>
							</a>
							<!-- img based logo -->
							<!-- <a href="index"><img src="img/logo.jpg" alt="logo img"></a> -->
						</div>
						<!-- / logo  -->
						<!-- search box -->
						<div class="aa-search-box">
							<form action="/search">
								<input type="text" name="q" id="" placeholder="Search here ex. 'iPhone' ">
								<button type="submit"><span class="fa fa-search"></span></button>
							</form>
						</div>
						<!-- / search box -->  					
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- / header bottom  -->
</header>