<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Login or Register</h4>
				<form id="loginModal" class="aa-login-form" action="">
					<label for="">Username<span>*</span></label>
					<input name="username" type="text" placeholder="Username">
					<label for="">Password<span>*</span></label>
					<input name="password" type="password" placeholder="Password">
					<button class="aa-browse-btn" type="submit">Login</button>
					<div class="aa-register-now">
						Don't have an account?<a href="/account">Register now!</a>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>