<ul class="nav navbar-nav">
	<li><a href="/index">Home</a></li>
	<li><a href="/contact">Contact</a></li>
	<li>
		<a href="#">Pages <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/home">User Home</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/404">404 Page</a></li>
		</ul>
	</li>
</ul>