<li>
	<div class="seq-model">
		<img data-seq src="<%= slide.imgUrl %>" alt="slide img" />
	</div>
	<div class="seq-title">
		<span data-seq><%= slide.promo %></span>                
		<h2 data-seq><%= slide.title %></h2>
		<p data-seq><%= slide.description %></p>
	</div>
</li>