<!DOCTYPE html>
<html lang="en">
<% var title={ siteName: "Daily Shop", pageName: "Search"} %>
  <% include ../partials/head %>

    <body class="productPage">
      <!-- wpf loader Two -->
      <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
          <span>Loading</span>
        </div>
      </div>
      <!-- / wpf loader Two -->
      <!-- SCROLL TOP BUTTON -->
      <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
      <!-- END SCROLL TOP BUTTON -->

      <!-- Start header section -->
      <header id="aa-header">
        <!-- start header top  -->
        <% include ../partials/header %>
        <!-- / header section -->

        <!-- menu -->
        <section id="menu">
          <div class="container">
            <div class="menu-area">
              <!-- Navbar -->
              <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
                </div>
                <div class="navbar-collapse collapse">
                  <!-- Left nav -->
                  <% include ../partials/nav %>
                </div>
                <!--/.nav-collapse -->
              </div>
            </div>
          </div>
        </section>
        <!-- / menu -->

      <!-- product category -->
      <section id="aa-product-category">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="aa-product-catg-content">
                <div class="aa-product-catg-head">
                  <div class="aa-product-catg-head-left">
                  </div>
                  <div class="aa-product-catg-head-right">
                    <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                    <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                  </div>
                </div>
                <div class="aa-product-catg-body">
                  <ul class="aa-product-catg">
					<% if(searchItems.length > 0) {%>
						<% searchItems.forEach(function(item){ %>
							<!-- start single product item -->
							<% include ../partials/item %>
						<% }); %>
					<% } else { %>
						<p style="text-align: center;">No matched item.</p>
					<% } %>
                  </ul>
                  <!-- quick view modal -->
				  <% if(searchItems.length > 0) {%>
					<% searchItems.forEach(function(item){ %>
						<!-- start single product item -->
						<% include ../partials/quick-view-modal %>
					<% }); %>
				  <% } %>
                  <!-- / quick view modal -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / product category -->


      <!-- Subscribe section -->
      <section id="aa-subscribe">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-subscribe-area">
                <h3>Subscribe our newsletter </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                <form action="" class="aa-subscribe-form">
                  <input type="email" name="" id="" placeholder="Enter your Email">
                  <input type="submit" value="Subscribe">
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / Subscribe section -->

      <!-- footer -->
      <% include ../partials/footer %>
        <!-- Login Modal -->
        <% include ../partials/login-modal %>
          <% include ../partials/js %>


    </body>

</html>